@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-inter: 'Inter', sans-serif;
  --font-bengali: 'Noto Sans Bengali', sans-serif;
  --font-mixed: 'Inter', 'Noto Sans Bengali', sans-serif;
}


body {
  font-family: var(--font-mixed);
}


.font-english {
  font-family: var(--font-inter);
}

.font-bengali {
  font-family: var(--font-bengali);
}

.font-mixed {
  font-family: var(--font-mixed);
}